.atc{
    margin-top: 10px;
}
.article{
    background-color: lightcyan;
    border: 3px blue solid;
    margin: 5px;
}
.atc_head{
    padding: 5px;
    margin-bottom: 4px;
    color: black;
}
.atc_name{
    font-size: 1.6rem;
    font-weight: 400;
    padding-left: 5px;
}
.atc_time{
    font-size: 1rem;
    color: grey;
    padding-left: 20px;
}
.atc_body{
    padding-left: 20px;
    margin-bottom: 6px;
    color: black;
    padding-bottom: 5px;
}
.atc_btm{
    border: 2px blue solid;
    padding-top:10px;
    padding-left: 35px;
    padding-bottom: 10px;
}

#btn_gts{
    position: fixed;
    bottom: 60px;
    left: 40%;
}