<h3>个人信息</h3>
<div align="center">
    <table align="center">
        <tr>
            <td class="td1">昵称:</td><td class="td2">{$data.name}</td>
            <td class="td1">账号:</td><td class="td2">{$data.user}</td>
        </tr>
        <tr>
            <td class="td1">I D:</td><td class="td2">{$data.id}</td>
        </tr>
        <tr>
            <td class="td1">性别:</td><td class="td2">{$data.sex}</td>
            <td class="td1">生日:</td><td class="td2">{$data.birth}</td>
        </tr>
        <tr>
            <td class="td1">电话:</td><td class="td2">{$data.tel}</td>
            <td class="td1">住址:</td><td class="td2">{$data.addr}</td>
        </tr>
        <tr>
            <td class="td1">工作:</td><td class="td2">{$data.job}</td>
        </tr>
    </table>
</div>